
    <style>
       
        .order .container {
            text-align: center;
        }
        .order h1 {
            font-size: 2.5rem;
            margin-bottom: 20px;
        }
      
    </style>

<body class="order">
    <div class="container">
        <h1>Order Placed Successfully</h1>
        <a href="/orders" class="btn btn-primary">Go to Orders</a>
    </div>

 
</body>

